body
{
    background-image: url(back2.jpg);
}
#canvas
{
    position: absolute;
    top: 50px;
    left: 285px;
    right: 275x;
    height: 550px;
    width: 800px;
    border: 5px;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
    background-color:white;
    background-image:url(back.jpg);
}
#gametitle
{
    position: absolute;
    -webkit-text-stroke-color: aquamarine;
    -webkit-text-stroke-width: 3px;
    top: 35px;
    left:70px;
    font-family: funhouse;
    font-size: 110px;
    letter-spacing: 12px;
    color: black;
    animation: text 5s 1;
}
@keyframes text
{
    10%
    {
        color: lightblue;
    }
    40%
    {
        letter-spacing: 15px;
    }

}
#playgame
{
color:black;
border: solid 1px white;
cursor:pointer;
font-size:20px; 
padding: 10px;
padding-left: 90px;
padding-right: 90px;
padding-top: 1  0px;
padding-bottom: 10px;
border-radius: 30px;
position: absolute;
color: white;
background-color:black;
top: 300px;
left: 295px;
font-family: elephant;
transition: all 1s ease-in-out;

}
#playgame:hover
{
    background-color: goldenrod;
    color:black;
    text-decoration: underline;
}
#exit
{
color:black;
border: solid 1px white;
cursor:pointer;
font-size:20px; 
padding: 10px;
padding-left: 90px;
padding-right: 90px;
padding-top: 1  0px;
padding-bottom: 10px;
border-radius: 30px;
position: absolute;
color: white;
background-color:black;
top: 360px;
left: 295px;
font-family: elephant;
transition: all 1s ease-in-out;

}
#exit:hover
{
    background-color: goldenrod;
    color:black;
    text-decoration: underline;
}