
body
{
  background-image: url(back2.jpg);
}

#canvas
{
    position: absolute;
    top: 50px;
    left: 285px;
    right: 275x;
    height: 550px;
    width: 800px;
    border: 5px;
    border-style: solid;
    border-color:goldenrod;
    border-radius: 50px;
    background-color:lightgoldenrodyellow;
    background-image:url(back.jpg);
}

#gametitle
{
    position: absolute;
    -webkit-text-stroke-color: aquamarine;
    -webkit-text-stroke-width: 3px;
    top: -30px;
    left:140px;
    font-family: funhouse;
    font-size: 80px;
    letter-spacing: 12px;
    color:black;
}

#A-Z
{
  margin:285px auto;
  max-width:600px;
}
#A-Z li
{
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:30px;
  height:30px;
  padding-top:10px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 10px;
  background:goldenrod;
  color:black;
  cursor:pointer;
  font-family: elephant;
  font-size: 20px;
  border-radius: 20px;
}

#alphabet li:hover
{
    background-color: white;
    color: black;
}

#my-word
{
  top: 190px;
  text-align: center;
  left: 190px;
  position: absolute;
  display:block;
}
#my-word li 
{
  font-family: elephant;
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  font-size:30px;
  font-size: 25px;
  letter-spacing: 20px;
  color:white;
  left:-60px;
}

#showAnswer
{
  display: block;
  position: absolute;
  top: 215px;
  font-size: 25px;
  font-family: elephant;
  color:white;
  letter-spacing: 20px;
  left: 245px;
}

#categoryName
{
  position: absolute;
  top: 150px;
  left: 270px;
  font-size: 40px;
  font-weight: bold;
  font-family: courrier new;
  color: pink;
  letter-spacing: 10px;
  animation: text 3s 1;
}
@keyframes text
{
    30%
    {
        color: red;
    }
    50%
    {
        letter-spacing: 15px;
    }

}

#lives
{ 
  height: 80px;
  width: 90px;
  top: 140px;
  left:665px;
  position: absolute;
  border: 2px;
  border-style: solid;
  border-color:goldenrod;
  border-radius: 30px;
  background-color: lightblue;
}

#mylives
{
  position: absolute;
  font-size:70px;
  font-family: elephant;
  display:block;
  position: absolute;
  color:red;
  top:-70px;
  left: 20px;  
}

#exit
{
color:black;
border: solid 1px white;
cursor:pointer;
font-size:18px;
padding-left: 30px;
padding-right: 30px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 30px;
position: absolute;
color: white;
background-color:black;
top: 480px;
left: 35px;
font-family: elephant;
transition: all 1s ease-in-out;
}
#exit:hover
{
    background-color: goldenrod;
    color:black;
    text-decoration: underline;
}

#reset
{
color:black;
border: solid 1px white;
cursor:pointer;
font-size:18px;
padding-left: 30px;
padding-right: 30px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 30px;
position: absolute;
color: white;
background-color:black;
top: 480px;
left: 635px;
font-family: elephant;
transition: all 1s ease-in-out;
}
#reset:hover
{
    background-color: goldenrod;
    color:black;
    text-decoration: underline;
}

#loss
{
  font-size: 50px;
  background-color:goldenrod;
  color: red;
  position: absolute;
  top: 120px;
  left: 0px;
  padding-left: 250px;
  padding-right: 250px;
}

#win
{
  font-size: 50px;
  background-color:goldenrod;
  color: red;
  position: absolute;
  top: 120px;
  left: 0px;
  padding-left: 280px;
  padding-right: 270px;
}
